<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="icon" type="image/x-icon" href="/media/frontend/favicon.png">
        <title>Heritage Bridge</title>
    </head>

    <body style="margin: 0;">
        <div id="app"></div>
    </body>

    {% load static %}
    <script src="{% static "frontend/frontend.js" %}"></script>
    <script src="{% static "frontend/1.frontend.js" %}"></script>

</html>