<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="icon" type="image/x-icon" href="/media/frontend/favicon.png">
        <link rel='stylesheet' href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.css'/>
        <title>Heritage Bridge (Dev)</title>
    </head>

    <body style="margin: 0;">
        <div id="app"></div>
    </body>

    {% load static %}
    <script src="{% static "frontend/frontend_dev.js" %}"></script>

</html>